include CHANGELOG.md
include CONTRIBUTING.md
include RELEASE.md
include SECURITY.md
include pyproject.toml
include README.md
include README_EN.md
include README_ZH.md
include .gitattributes

recursive-include docs/releases *.md
recursive-include scripts *.py
recursive-include spec *.json
recursive-include spec *.md
